---
import background from "../assets/background.svg";
import { connectToDatabase } from "../lib/mongo";
import { formatRecipe } from "../lib/format";

const db = await connectToDatabase();
const collection = db.collection("Recipes");
const data = await collection.aggregate([{ $sample: { size: 1 } }]).toArray();
const recipe = data.length === 1 ? formatRecipe(data[0].recipe) : null;
---

<div id="container">
    <img id="background" src={background.src} alt="" fetchpriority="high" />
    <main>
        <section id="hero">
            <div class="message-container">
                <h1>What sandwich should I make?</h1>
                <div class="send-button-container">
                    <button id="btn-send"> Send </button>
                </div>
            </div>
        </section>
        <section id="recipe">
            <div class="recipe">
                {recipe}
            </div>
        </section>
    </main>
</div>

<script type="module">
    document.getElementById("btn-send").addEventListener("click", () => {
        const recipeSection = document.getElementById("recipe");
        const messageSection = document.getElementById("hero");

        const recipeContent = document.querySelector(".recipe");
        recipeContent.innerHTML = recipeContent.innerText; // Set the raw HTML content

        recipeSection.classList.add("visible");
        messageSection.classList.add("hidden");
    });
</script>

<style>
    #background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        filter: blur(100px);
    }

    .message-container {
        background: rgba(255, 255, 255, 0.4);
        padding: 1em 1.5em;
        border-radius: 2em;
        display: flex;
        margin-top: 5vh;
    }

    .send-button-container {
        display: flex;
        justify-content: flex-end;
        margin-left: 3em;
    }

    #btn-send {
        background: #007aff;
        color: white;
        padding: 0.5em 1em;
        border-radius: 1em;
        border: none;
        font-size: 1.2em;
        cursor: pointer;
    }

    #container {
        font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova",
            "Nimbus Sans", Arial, sans-serif;
        height: 90vh;
    }

    main {
        height: 100%;
        display: flex;
        justify-content: center;
    }

    #hero {
        display: flex;
        align-items: start;
        flex-direction: column;
        justify-content: center;
        padding: 16px;
    }

    h1 {
        font-size: 22px;
        margin: 0;
        align-content: center;
    }

    .recipe {
        padding: 5em 2em 2em;
        min-height: 80vh;
    }

    #recipe {
        position: absolute;
        z-index: -1;
        opacity: 0;
        transition: opacity 2s ease;
    }

    #recipe.visible {
        opacity: 1;
    }

    #hero.hidden {
        opacity: 0;
    }

    @media screen and (max-width: 768px) {
        #container {
            display: flex;
            flex-direction: column;
        }

        .recipe {
            padding-top: 1em;
        }

        .message-container {
            font-size: 1em !important;
            padding: 0.7em 1.2em;
        }

        .send-button-container {
            margin-left: 2em;
        }

        button,
        h1 {
            font-size: 1em !important;
        }
    }

    @media screen and (max-width: 550px) {
        .send-button-container {
            margin-left: 1em;
        }
    }
</style>
