---
import background from "../assets/background.svg";
import { connectToDatabase } from "../lib/mongo";
import { formatRecipe } from "../lib/format";

const db = await connectToDatabase();
const collection = db.collection("Recipes");
const data = await collection.aggregate([{ $sample: { size: 1 } }]).toArray();
const recipe = data.length === 1 ? formatRecipe(data[0].recipe) : null;
---

<div id="container">
    <img id="background" src={background.src} alt="" fetchpriority="high" />
    <main>
        <section id="content">
            <div id="message-container">
                <div class="message">
                    <h1>What sandwich should I make?</h1>
                    <div class="send-button-container">
                        <button id="btn-send"> Send </button>
                    </div>
                </div>
            </div>
            <div id="recipe-container">
                <div class="recipe" set:html={recipe} />
            </div>
        </section>
    </main>
</div>

<script type="module">
    document.getElementById("btn-send").addEventListener("click", () => {
        const recipeContainer = document.getElementById("recipe-container");
        const messageContainer = document.getElementById("message-container");
        recipeContainer.classList.add("visible");
        messageContainer.classList.add("hidden");
    });
</script>

<style>
    #background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        filter: blur(100px);
    }

    #message-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .message {
        background: rgba(255, 255, 255, 0.4);
        padding: 1em 1.5em;
        border-radius: 2em;
        display: flex;
        margin-top: 5vh;
        height: fit-content;
    }

    .send-button-container {
        display: flex;
        justify-content: flex-end;
        margin-left: 3em;
    }

    #btn-send {
        background: #007aff;
        color: white;
        padding: 0.5em 1em;
        border-radius: 1em;
        border: none;
        font-size: 1.2em;
        cursor: pointer;
    }

    #container {
        font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova",
            "Nimbus Sans", Arial, sans-serif;
        min-height: 90vh;
        display: grid;
        place-items: center;
    }

    main {
        height: 100%;
        display: flex;
        justify-content: center;
    }

    #content {
        display: grid;
        place-items: center;
        justify-content: center;
    }

    h1 {
        font-size: 22px;
        margin: 0;
        align-content: center;
    }

    .recipe {
        padding: 5em 5em 2em;
    }

    #recipe-container {
        opacity: 0;
        position: absolute;
        z-index: -1;
        transition:
            opacity 2s ease,
            visibility 2s ease,
            position 2s ease;
        align-self: start;
    }

    #recipe-container.visible {
        opacity: 1;
        visibility: visible;
        position: relative;
    }

    #message-container.hidden {
        opacity: 0;
        position: absolute;
        visibility: hidden;
    }

    @media screen and (max-width: 768px) {
        #container {
            min-height: 80vh;
        }
        .recipe {
            padding: 1em 2em 2em;
        }

        .message {
            font-size: 1em !important;
            padding: 0.7em 1.2em;
        }

        .send-button-container {
            margin-left: 2em;
        }

        button,
        h1 {
            font-size: 1em !important;
        }
    }

    @media screen and (max-width: 550px) {
        .send-button-container {
            margin-left: 1em;
        }
    }
</style>
