<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>ChatBLT</title>
  </head>
  <body>
    <slot />
    <div class="footer">
      <a href="https://github.com/tom-draper/chatblt" target="_blank">ChatBLT</a>
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .footer {
    display: grid;
    place-items: center;
    color: rgba(0, 0, 0, 0.3);
    width: 100%;
	padding-bottom: 5em;
    font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
      Arial, sans-serif;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
  a:hover {
    color: rgba(0, 0, 0, 0.2);
  }
</style>
